body{
  background-image: url(https://images.wallpaperscraft.com/image/moscow_russia_red_square_light_evening_69285_1280x720.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
.h1-1{
  margin-top: 300px;
  margin-bottom: 300px; 
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #fff;
  font-weight: 700;
  text-shadow: black 0 0 2px;
  font-size: 100px;
}
.s-3{
  background-color: #fff;
  color: black;
  padding-bottom: 50px;
  padding-top: 50px;
}
.img-1{
  width: 500px;
  margin-left: 800px;
  margin-top: 50px;
}
.p-1{
   padding-left: 50px;
  font-size: 20px;
  line-height: 30px;
  margin-top: -450px;
  font-weight: 700;
  text-align: left;
}
.s-4{
  margin-top: 100px;
  margin-bottom: 100px;
  color: #fff;
}
.h1-3{
  color: #fff;
  font-size: 50px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}
.s-5{
  background-color: #fff;
  padding-top: 100px;
}
.servis-id{
  margin-top: -80px;
  position: absolute;
}