<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="my-2">
            <div class="alert-dismissible topHeader p-4">
                <h2>You do not have enough privileges to request the resource!</h2>
            </div>
        </div>
    </div>
</section>
</body>
</html>
