<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Marks</title>
</head>
<body>
<section layout:fragment="content">
    <header id="main-header" class="py-2 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        <i class="fa fa-star"></i>
                        Marks
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <section id="actions" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 mb-1">
                    <a class="btn btn-outline-primary btn-block" th:href="@{/student/course}">
                        <i class="fa fa-arrow-circle-left"></i>
                        <span>Back to Courses</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="transactions">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr class="table-primary">
                                <th>Date</th>
                                <th>Mark</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="mark : ${marks}">
                                <td th:text="${mark.date}"></td>
                                <td th:text="${mark.mark}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Statistics</h4>
                        </div>
                        <div class="card-body">
                            <div class="right-contents">
                                <ul class="list-unstyled">
                                    <li>
                                        <a class="justify-content-between d-flex">
                                            <p>Total Mark</p>
                                            <span th:text="${statistic.sum}"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="justify-content-between d-flex">
                                            <p>Average Mark</p>
                                            <span th:text="${statistic.average}"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="justify-content-between d-flex">
                                            <p>Count of Marks</p>
                                            <span th:text="${statistic.count}"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="justify-content-between d-flex">
                                            <p>Max Mark</p>
                                            <span th:text="${statistic.max}"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="justify-content-between d-flex">
                                            <p>Min Mark</p>
                                            <span th:text="${statistic.min}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>
